<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <p>
        <% if (isAuthenticated) { %>
          <form action="/logout" method="POST" style="display:inline;">
            <button type="submit">Выйти</button>
          </form>
        <% } else { %>
          <a href="/login">Войти</a> |
          <a href="/register">Регистрация</a>
        <% } %>
      </p>
      <h1>Регистрация</h1>
      <form class="auth-form" action="/register" method="POST">
        <label>Логин:</label><br />
        <input type="text" name="username" /> <br />
        <label>Пароль:</label><br />
        <input type="password" name="password" /> <br />
        <button type="submit">Зарегистрироваться</button>
      </form>
      <p><a href="/login">Войти</a></p>
    </div>
  </body>
</html>
