<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Вход</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Вход</h1>
      <form action="/login" method="POST">
        <label>Логин:</label><br />
        <input type="text" name="username" /> <br />
        <label>Пароль:</label><br />
        <input type="password" name="password" /> <br />
        <button type="submit">Войти</button>
      </form>
      <p><a href="/register">Регистрация</a></p>
    </div>
  </body>
</html>
